.card {
  padding: 15px 20px;
  background-color: rgb(10, 88, 62);
  margin-bottom: 20px;
  border-radius: 20px;
}
.card1 {
  padding: 15px 20px;
  background-color: rgb(11, 64, 53);
  margin-bottom: 20px;
  border-radius: 20px;
}

.card2 {
  padding: 15px 20px;
  background-color: rgb(26, 62, 53);
  margin-bottom: 20px;
  border-radius: 20px;
}

a {
  color: rgb(82, 125, 138);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: blue;
}
.btn {
  padding: 0px 5px;
}

@media (max-width 700px) {
  .info {
    display:;
  }
}

